@using AgentDesktop.Models
@using AgentDesktop.Controllers

@{
	ViewData["Title"] = "Reason Code Entry";

}

<!-- Dynamic Table Full -->
<div class="block block-themed block-rounded">
	<div class="block-header bg-gray-light">
		<h3 class="block-title text-black-50">LIST OF REASON CODES</h3>
		<div class="block-options">
			<span data-toggle="tooltip" data-placement="top" title="New Reason Code">
				<a class="btn btn-alt-primary mr-5" asp-controller="Admin" asp-action="NewReason" data-target="#modal-container" data-toggle="modal" data-backdrop="static" data-keyboard="false">
					<font style="vertical-align: inherit;">
						<font style="vertical-align: inherit;"><i class="fa fa-plus mr-5"></i> New</font>
					</font>
				</a>
			</span>

			<input type="text" id="myInput" hidden>

			<a id="btn" href="#" class="btn btn-alt-success mr-5" data-toggle="tooltip" title="Export to Excel">
				<font style="vertical-align: inherit;">
					<font style="vertical-align: inherit;"><i class="fa fa-file-excel-o"></i> Export</font>
				</font>
			</a>

			@*<button type="button" class="btn-block-option">
					<i class="si si-wrench"></i>
				</button>*@

		</div>
	</div>
	<div class="block-content block-content-full">
		<!-- DataTables functionality is initialized with .js-usr-dataTable class in js/InitDataTables.js -->
		<table id="ListReasonCode" class="table-sm table-bordered table-hover table-vcenter js-reason_code" style="width:100%;">
			<thead class="bg-primary-light">
				<tr>
					<th class="d-none d-sm-table-cell font-size-xs">REASON CODE</th>
					<th class="d-none d-sm-table-cell font-size-xs">REASON</th>
					<th class="d-none d-sm-table-cell font-size-xs">DESCRIPTION</th>
					<th class="d-none d-sm-table-cell font-size-xs">FIRST LETTER</th>
					<th class="d-none d-sm-table-cell font-size-xs">SECOND LETTER</th>
					<th class="d-none d-sm-table-cell font-size-xs">THIRD LETTER</th>
					<th class="d-none d-sm-table-cell font-size-xs">ABBREVIATION</th>
					<th class="d-none d-sm-table-cell font-size-xs">CLASSIFICATION</th>
					<th class="d-none d-sm-table-cell font-size-xs text-center" style="width: 100px;">OPTION</th>
				</tr>
			</thead>
			<tbody>
				@foreach (var usr in ViewBag.ListReasonCodes)
				{
				<tr>

					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.RCode</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Reason</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Description</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.FirstLetter</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.SecondLetter</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.ThirdLetter</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Abbreviation</td>
					<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Class</td>
					<td style="text-align:center;">
						<div class="btn-group">
							<span data-toggle="tooltip" data-placement="top" title="Edit Reason Code">
								<a class="btn btn-sm btn-secondary" asp-controller="Admin" asp-action="EditReason" asp-route-id=@usr.RNID data-target="#modal-container" data-toggle="modal" data-backdrop="static" data-keyboard="false"><span><i class="fa fa-pencil"></i></span></a>
							</span>
							<a href="#" class="btn btn-sm btn-secondary" data-toggle="tooltip" title="Delete Reason Code" onclick=DeleteReason("/Admin/DelReason/@usr.RNID");><span><i class="fa fa-times"></i></span></a>
						</div>
					</td>

				</tr>
				}

			</tbody>
		</table>
	</div>
</div>
<!-- END Dynamic Table Full -->

<div class="modal fade" id="modal-container" tabindex="-1" role="dialog" aria-labelledby="modal-container" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-dialog-popout modal-lg" role="document">
		<div class="modal-content">

		</div>
	</div>
</div>

@section Scripts {

	<script>

        $(document).ready(function () {

            $('#modal-container').on('show.bs.modal', function (event) {
                var button = $(event.relatedTarget); // Button that triggered the modal
                var url = button.attr("href");
                var modal = $(this);
                // note that this will replace the content of modal-content everytime the modal is opened
                modal.find('.modal-content').load(url);
            });

            $('#modal-container').on('hidden.bs.modal', function () {
                // remove the bs.modal data attribute from it
                $(this).removeData('bs.modal');
                // and empty the modal-content element
                $('#modal-container .modal-content').empty();

            });

        });

		$('#ListReasonCode').on('search.dt', function () {
			var value = $('.dataTables_filter input').val();
			document.getElementById("myInput").value = value; // <-- the value
		});

		$(function () {
			$('#btn').click(function (evt) {
				$.ajax({
					type: 'GET',
					url:'@Url.Action("GetSearch", "Admin")',
					cache: false,
					data: { myInput: $("#myInput").val() },
					success: function (data) {
						if (data.success) {
							window.location = "/Admin/ExportReason";
						}
					}
				});
			});
		});

		function DeleteReason(url) {
			Swal.fire({
				title: 'Are you sure?',
				text: 'Once deleted, you will not be able to recover this reason code!',
				icon: 'warning',
				showCancelButton: true,
				confirmButtonColor: '#3085d6',
				cancelButtonColor: '#d33',
				confirmButtonText: 'Yes, delete it!'
			}).then((result) => {
				if (result.isConfirmed) {
					$.ajax({
						type: 'GET',
						url: url,
						cache: false,
						success: function (data) {
							if (data.success) {
								Swal.fire({
									text: data.message,
									icon: 'success'
								}).then((result) => {
									location.reload();
								});


							}
							else {
								Swal.fire({
									text: data.message,
									icon: 'info'
								});

							}
						}
					});
				}
			})
		}
	</script>

}