@model AgentDesktop.Models.ActivitySearch

@using AgentDesktop.Services
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor

@{
	ViewData["Title"] = "ATM Ops Search Activity";
}

<style>
	.dataTables_scroll {
		overflow: auto;
	}

	th, td {
		white-space: nowrap;
	}
</style>

<div class="content-heading">
	<div class="float-right">
		<input type="text" id="myInput" hidden>

		<a id="btn" href="#" class="btn btn-sm btn-circle btn-outline-danger mr-5 mb-5" data-placement="top" data-toggle="tooltip" title="Export to Excel">
			<i class="fa fa-file-excel-o"></i>
		</a>

	</div>
	List of ATM Ops Activities
</div>


<div class="block">
	<form asp-controller="Activity" asp-action="ATMOps" method="post">
		<div class="block block-themed block-rounded">
			<div class="block-header bg-corporate">
				<h3 class="block-title">Please fill necessary field for filteration.</h3>
				<div class="block-options">
					<button class="btn-block-option" type="submit" data-toggle="tooltip" title="Search Filtered Fields"><i class="fa fa-search"></i></button>
				</div>
			</div>

			<div class="block-content">
				<div class="row">
					<div class="col-4">

						<div class="form-group row">
							<div class="col-12">
								<div class="custom-control custom-checkbox custom-control-inline mb-5">
									<input class="custom-control-input" type="checkbox" asp-for="DateSearch" id="DateSearch">
									<label class="custom-control-label" for="DateSearch">Search without a date</label>
								</div>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label">Date Filter</label>
							<div class="input-daterange input-group" data-date-format="dd-M-yyyy" data-week-start="1" data-autoclose="true" data-today-highlight="true">
								<input type="text" class="form-control" asp-for="Date1" placeholder="Start Date" data-week-start="1" data-autoclose="true" data-today-highlight="true" autocomplete="off">
								<div class="input-group-prepend input-group-append">
									<span class="input-group-text font-w600">to</span>
								</div>
								<input type="text" class="form-control" asp-for="Date2" placeholder="End Date" data-week-start="1" data-autoclose="true" data-today-highlight="true" autocomplete="off">
							</div>

						</div>

						<div class="form-group">
							<label class="control-label">Customer Name</label>
							<input asp-for="CustomerName" class="form-control" placeholder="Enter Customer Name" autocomplete="off" />
						</div>

						<div class="form-group">
							<label class="control-label">Card / Account Number</label>
							<input asp-for="CardNo" class="form-control" placeholder="Enter Card/Account Number" autocomplete="off" />
						</div>


					</div>

					<div class="col-4">

						<div class="form-group row">
							<div class="col-md-8">
								<label class="control-label">Comm Type</label>
								<select class="form-control form-control" asp-for="CommType">
									<option value="0">Select comm type</option>
									<option value="Inbound">Inbound</option>
									<option value="Outbound">Outbound</option>
								</select>
							</div>
						</div>
						<div class="form-group row">
							<div class="col-md-8">
								<label class="control-label">Comm Channel</label>
								<select class="form-control" asp-for="CommChannel">
									<option value="0">Select comm channel</option>
									<option value="Email">Email</option>
									<option value="Fax">Fax</option>
									<option value="SMS">SMS</option>
									<option value="Telephone">Telephone</option>
									<option value="Voicemail">Voicemail</option>
									<option value="Mail">Mail</option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label">Reason Code</label>
							<select class="js-select2 form-control" asp-for="ReasonCode" asp-items="ViewBag.cmbReasonCode" style="width: 100%;" data-placeholder="Choose Reason Codes">
								<option></option>
							</select>
						</div>

						<div class="form-group row">
							<div class="col-md-8">
								<label class="control-label">Status</label>
								<select class="form-control" asp-for="Status">
									<option value="0">Select Status</option>
									<option value="Commitment">Commitment</option>
									<option value="Endorsed">Endorsed</option>
									<option value="Escalated">Escalated</option>
									<option value="Resolved">Resolved</option>
									<option value="Closed">Closed</option>
									<option value="Cancelled">Cancelled</option>
								</select>
							</div>
						</div>



					</div>

					<div class="col-4">

						<div class="form-group row">
							<div class="col-md-8">
								<label class="control-label">Agent</label>
								<select class="js-select2 form-control" asp-for="Agent" asp-items="ViewBag.cmbAgent" style="width: 100%;" data-placeholder="Choose Agent">
									<option></option>
								</select>
							</div>
						</div>

						<div class="form-group">
							<label class="control-label">Ticket Number</label>
							<input asp-for="TicketNo" class="form-control" placeholder="Enter Ticket Number" autocomplete="off" />
						</div>

						<div class="form-group">
							<label class="control-label">Referred By</label>
							<input asp-for="ReferredBy" class="form-control" placeholder="Enter Referred By" autocomplete="off" />
						</div>

						<div class="form-group">
							<label class="control-label">Contact Person</label>
							<input asp-for="ContactPerson" class="form-control" placeholder="Enter Contact Person" autocomplete="off" />
						</div>
					</div>

				</div>
			</div>
		</div>


	</form>




	<div class="block-content block-content-full">
		<div class="dataTables_scroll">
			<!-- CM Activity Table -->
			<table id="ListATMOp" class="table-sm table-bordered table-hover table-vcenter js-atmactivity-dataTable">
				<thead class="bg-gd-lake">
					<tr>
						<th class="d-none d-sm-table-cell font-size-xs">TICKET NO</th>
						<th class="d-none d-sm-table-cell font-size-xs">INBOUND/OUTBOUND</th>
						<th class="d-none d-sm-table-cell font-size-xs">COMM CHANNEL</th>
						<th class="d-none d-sm-table-cell font-size-xs">DATE RECEIVED</th>
						<th class="d-none d-sm-table-cell font-size-xs">TIME RECEIVED</th>
						<th class="d-none d-sm-table-cell font-size-xs">REASON CODE</th>
						<th class="d-none d-sm-table-cell font-size-xs">CUSTOMER NAME</th>
						<th class="d-none d-sm-table-cell font-size-xs">CARD NO</th>
						<th class="d-none d-sm-table-cell font-size-xs">DESTINATION</th>
						<th class="d-none d-sm-table-cell font-size-xs">CHANNEL</th>
						<th class="d-none d-sm-table-cell font-size-xs">TRANS TYPE</th>
						<th class="d-none d-sm-table-cell font-size-xs">LOCATION</th>
						<th class="d-none d-sm-table-cell font-size-xs">ATM USED</th>
						<th class="d-none d-sm-table-cell font-size-xs">PAYMENT OF</th>
						<th class="d-none d-sm-table-cell font-size-xs">TERMINAL USED</th>
						<th class="d-none d-sm-table-cell font-size-xs">MERCHANT</th>
						<th class="d-none d-sm-table-cell font-size-xs">INTER</th>
						<th class="d-none d-sm-table-cell font-size-xs">BANCNET USED</th>
						<th class="d-none d-sm-table-cell font-size-xs">ONLINE</th>
						<th class="d-none d-sm-table-cell font-size-xs">WEB SITE</th>
						<th class="d-none d-sm-table-cell font-size-xs">REMIT FROM</th>
						<th class="d-none d-sm-table-cell font-size-xs">REMIT CONCERN</th>
						<th class="d-none d-sm-table-cell font-size-xs">AMOUNT</th>
						<th class="d-none d-sm-table-cell font-size-xs">CURRENCY</th>
						<th class="d-none d-sm-table-cell font-size-xs">DATE TRANS</th>
						<th class="d-none d-sm-table-cell font-size-xs">PL STATUS</th>
						<th class="d-none d-sm-table-cell font-size-xs">CARD BLOCKED</th>
						<th class="d-none d-sm-table-cell font-size-xs">ACTIVITY</th>
						<th class="d-none d-sm-table-cell font-size-xs">STATUS</th>
						<th class="d-none d-sm-table-cell font-size-xs">SUB STATUS</th>
						<th class="d-none d-sm-table-cell font-size-xs">AGENT</th>
						<th class="d-none d-sm-table-cell font-size-xs">ENDORSED TO</th>
						<th class="d-none d-sm-table-cell font-size-xs">DUE DATE</th>
						<th class="d-none d-sm-table-cell font-size-xs">RESOLVED DATE</th>
						<th class="d-none d-sm-table-cell font-size-xs">NATURE OF COMPLAINT</th>
						<th class="d-none d-sm-table-cell font-size-xs">REFERRED BY</th>
						<th class="d-none d-sm-table-cell font-size-xs">CONTACT PERSON</th>
						<th class="d-none d-sm-table-cell font-size-xs">CLASSIFICATION</th>
						<th class="d-none d-sm-table-cell font-size-xs">CARD PRESENT</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var usr in ViewBag.ListATMOps)
					{
						<tr>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">
								<a class="font-w600" asp-controller="Activity" asp-action="ATMEntry" asp-route-id=@usr.RID>
									@usr.TicketNo
								</a>
							</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.InOutBound</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.CommChannel</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap"><span style="display: none;">@usr.DateReceived.ToString("yyyyMMdd")</span>@usr.DateReceived.ToString("dd-MMM-yyyy")</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.DateReceived.ToString("HH:mm:ss")</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.abbreviation</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.CustomerName</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.CardNo</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Destination</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.TransType</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.ATMTrans</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Location</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.ATMUsed</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.PaymentOf</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.TerminalUsed</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Merchant</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Inter</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.BancnetUsed</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Online</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Website</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.RemitFrom</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.RemitConcern</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Amount</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Currency</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.DateTrans</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.PLStatus</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.CardBlocked</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Activity</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Status</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.SubStatus</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Agent</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.EndoredTo</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Resolved</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.ResolvedDate</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Remarks</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.ReferedBy</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.ContactPerson</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.Tagging</td>
							<td class="d-none d-sm-table-cell font-size-xs" style="white-space:nowrap">@usr.CardPresent</td>
						</tr>
					}
				</tbody>
			</table>
			<!-- END CM Activity Table -->

		</div>

	</div>
</div>

@section Scripts {

	<script>

        $(document).ready(function () {

			$('#modal-container').on('show.bs.modal', function (event) {
				var button = $(event.relatedTarget); // Button that triggered the modal
				var url = button.attr("href");
				var modal = $(this);
				// note that this will replace the content of modal-content everytime the modal is opened
				modal.find('.modal-content').load(url);
			});

			$('#modal-container').on('hidden.bs.modal', function () {
				// remove the bs.modal data attribute from it
				$(this).removeData('bs.modal');
				// and empty the modal-content element
				$('#modal-container .modal-content').empty();

			});

			$('#Date1').datepicker({ autoclose: true });
			/*$('#Date1').datepicker('setDate', new Date());*/

			$('#Date2').datepicker({ autoclose: true });
			/*$('#Date2').datepicker('setDate', new Date());*/

        });

		$('#ListATMOp').on('search.dt', function () {
			var value = $('.dataTables_filter input').val();
			document.getElementById("myInput").value = value; // <-- the value
		});

		$(function () {
			$('#btn').click(function (evt) {
				$.ajax({
					type: 'GET',
					url:'@Url.Action("GetSearch", "Admin")',
					cache: false,
					data: { myInput: $("#myInput").val() },
					success: function (data) {
						if (data.success) {
							window.location = "/Activity/ExportATMActivity";
						}
					}
				});
			});
		});


		$(function () {
			var DateSearch = document.getElementById("DateSearch");
			var Date1 = document.getElementById("Date1");
			var Date2 = document.getElementById("Date2");

			DateSearch.addEventListener("change", function () {
				// Check if the checkbox is checked
				if (DateSearch.checked) {
					// Clear the value of the datepicker input
					Date1.value = "";
					Date2.value = "";
				}
			});

		});

	</script>

}